q,
blockquote {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}
blockquote,
h1 {
  text-align: center;
}
q:hover::after {
  content: "(" attr(title) ")" close-quote;
}
blockquote[title]:hover::after {
  content: "(" attr(title) ")";
}
