q,
blockquote {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}
blockquote,
h1 {
  text-align: center;
}
q:hover::after {
  content: "(" attr(title) ")" close-quote;
}
blockquote[title]:hover::after {
  content: "(" attr(title) ")";
}
p {
  text-indent: 1em;
  text-align: justify;
}
body {
  font-family: "Bookman Old Style", Georgia, serif;
  line-height: 1.5;
}
/* Hide the cover page image by default */
.cover-image {
  display: none;
}

/* Define styles specifically for printing */
@media print {
  /* Show the cover page image when printing */
  .cover-image {
    display: block;
    width: 100%;
    height: auto;
  }
  body {
    margin: 2em;
  }
  q::after {
    content: "(" attr(title) ")" close-quote;
  }
}
